@font-face {
    font-family: 'CambriaRegular';
    src: url('../fonts/Cambria.ttf') format('truetype');
}

@font-face {
    font-family: 'CambriaBold';
    src: url('../fonts/Cambria Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'CambriaItalic';
    src: url('../fonts/Cambria Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'CambriaBoldItalic';
    src: url('../fonts/Cambria Bold Italic.ttf') format('truetype');
}

#root {
    background-color: #CDECEE;
    font-family: 'CambriaRegular';
}